---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include partials/head.html %}

  <!--_includes/default.html-->
  <body class="{{title | slugify }} roh">

    {% include partials/svg/defs.html %}

    {% include partials/header.html %}

    {{ content }}

    {% include partials/footer.html %}

    {% include scripts/script_ext_link.html %}

    {% include scripts/script_append_to_copy_action.html %}

  </body>

</html>
