<!-- Begin favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=180513">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v=180513">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/android-chrome-192x192.png?v=180513">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v=180513">
<link rel="manifest" href="/assets/favicons/site.webmanifest?v=180513">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=180513" color="#000000">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=180513">
<meta name="apple-mobile-web-app-title" content="Magic Green ">
<meta name="application-name" content="Magic Green ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png?v=180513">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=180513">
<meta name="theme-color" content="#000000">
<!-- end favicons -->
