{% comment %}
menu with many items
{% endcomment %}

  <div class="menu_toggle_buttom" id="menu_toggle_buttom">
    {% include svg/use.html id="icn--burger" class="open" %}
    {% include svg/use.html id="icn--x" class="close" %}
  </div>

</div>

<nav class="menu menu_header" role="menu" id="menu">

  {% for item in site.data.menu_long %}
    {% if page.url contains item.url %}
      <a class="menu_item active" role="menuitem" title="{{ item.name }}" href="{{ item.url | prepend: site.baseurl }}">
        <span class="nowrap">{{ item.name }}</span>
      </a>
    {% else %}
      <a class="menu_item " role="menuitem" title="{{ item.name }}" href="{{ item.url | prepend: site.baseurl }}">
        <span class="page_title nowrap">{{ item.name }}</span>
      </a>
    {% endif %}
  {% endfor %}
  <div class="menu_footer_item">
    There are currently {{ site.posts | size }} articles
  </div>

</nav>
