<!--includes/post_loop_resources-->
{% include post_page_title.html %}

<div id="brands" class="responsive_table_block">

  <div class="functionalities_block">
    <input class="search input" placeholder="Search (ex: organic)" />
    <button class="sort button" data-sort="products">
      Sort by Products
    </button>
    <button class="sort button" data-sort="brand">
      Sort by Brand
    </button>
  </div>


  <table class="green_pages_table responsive_table">

    <thead>
      <tr class="green_pages_table_header_row">
        <td class="table_header_brand">Brand</td>
        <td class="table_header_product">Products</td>
        <td class="hide">Address</td>
        <td class="hide">Country</td>
        <td>Email</td>
        <td>Tel</td>
        <td>Map</td>
        <td>Website</td>
      </tr>
    </thead>

    <tbody class="list">
      {% for company in site.data.companies %}
        <tr class="green_pages_table_row" id="{{ company.brand | slugify }}"  itemscope itemtype="http://schema.org/Organization">

          <td class="brand" data-th="Brand" itemprop="brand">{{ company.brand }}</td>

          <td class="products" data-th="Products" itemscope itemtype="http://schema.org/Product">{{ company.products }}</td>

          <td class="show_on_phones address" data-th="Address" itemscope itemtype="http://schema.org/PostalAddress">{% if company.address %}{{ company.address }}{% endif %}</td>

          <td class="show_on_phones country" data-th="Country" itemprop="addressLocality">{% if company.country %}{{ company.country }}{% endif %}</td>

          <td class="email" itemprop="email"><a class="sober_link "title="email" href="mailto:{{ company.email }}">{% if company.email %}{% include svg/use.html id="icn--email" class="email" %}{% endif %}</a></td>

          <td class="telephone" itemprop="telephone">{% if company.telephone %}<a class="sober_link "title="tel:+{{ company.telephone }}" href="tel:+{{ company.telephone }}">{% include svg/use.html id="icn--localphone" class="localphone" %}</a>{% endif %}</td>

          <td class="location" itemprop="location">{% if company.location %}<a class="sober_link "title="location" href="{{ company.location }}">{% include svg/use.html id="icn--location" class="location" %}</a>{% endif %}</td>

          {% comment %} old way to display URL
          {{ company.website | remove:'http://' | remove:'https://' | remove:'www.' | remove:'/' }}
          {% endcomment %}

          <td class="website"><a title="website" class="sober_link " href="{{ company.website}}">{% if company.website %}{% include svg/use.html id="icn--link" class="link" %}{% endif %}</a></td>


        </tr>
      {% endfor %}
    </tbody>

  </table>

</div>


{% include add_your_company.html %}


{% comment %}
the following script must stay here,
when moved to layout/resources.html
somehow sorting works only once,
weird!
{% endcomment %}

{% include script_list.html %}
<script>
  var options = {
    valueNames: [ 'brand', 'products', 'country', 'address' ]
  };

  var userList = new List('brands', options);
</script>

{% comment %}
DB Fields:
brand
website
products
email
telephone
address
location
country
{% endcomment %}
