<!--includes/post_card-->
<a class="card {{ post.category }} {% if post.sticky %}sticky_post{% endif %}" title="{{ post.name }}" href="{{ site.baseurl }}/{{ post.category }}/{{ post.name | slugify }}/">

  <div class="vertical category {{ post.category | slugify }}">{{ post.category }}</div>

  <div class="card_post_image clipped">

    <figure class="clipped">

      {% assign f = post.image | split: '.' %}
      <img loading="lazy" src="{{ f[0] | relative_url }}-640.{{ f[1] }}"
           srcset="{{ f[0] | relative_url }}-640.{{ f[1] }} 640w,
                   {{ f[0] | relative_url }}-880.{{ f[1] }} 880w,
                   {{ f[0] | relative_url }}-1024.{{ f[1] }} 1024w,
                   {{ f[0] | relative_url }}-1920.{{ f[1] }} 1920w"
           sizes="(max-width: 640px) 100vw, (max-width: 880px) 50vw, (min-width: 881px) 33vw"
           alt="{{ page.title }}">


      {% if post.flag %}
      <figcaption class="figcaption {{ post.flag | slugify }}">{{ post.flag }}</figcaption>
      {% endif %}
    </figure>


  </div>

  <div class="card_post_text">
    <h1 class="{% if post.ad %}ad_symbol{% endif %}">{{post.name}}</h1>
    <h3 class="border_top border_bottom">{{post.subtitle}}</h3>
    <div class="card_post_text_content">
      {{post.content | strip_html | truncatewords: 22 }}
    </div>

    <div class="button_row">
      <span class="button">Learn more</span>
    </div>

    <!-- <div class="read_time_block">
      <span class="read_time">{% include read_time.html %}e</span>
    </div> -->

  </div>

</a>
