
.post_metas {
  color: $transparent_grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @include media( "screen", ">minWidth") {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.post_meta_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: $space/2;
  padding-right: $space/2;
  a {
    color: $transparent_grey;
    margin-left: .2rem;
    margin-right: .2rem;
    &:hover {
      color: $black;
    }
  }
}

.post_meta_block--last {
  padding-right: 0;
}


.post_meta_icon {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start ;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
