---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include partials/head.html %}

  <!--layouts/post-->
  <body class="{{category | slug}} post {{title | slug}} layout--post_htm">

    {% include partials/svg/defs.html %}

    {% include partials/header.html %}

    <div class="bungkus group {{ page.data.category }}">

      {% include partials/post_image_group.html %}

      <div class="container small" role="main">

        {% include partials/post_header.html %}

        {{ content }}

        {% include partials/social_sharing.html %}

      </div>

    </div>

    {% include partials/footer.html %}

    {% include scripts/script_ResponsiveBackgroundImage.html %}

    {% include scripts/script_medium_zoom.html %}

    {% include scripts/script_ext_link.html %}

    {% include scripts/script_append_to_copy_action.html %}

  </body>

</html>
