---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <!--layouts/default-->
  <body class="{{page.title | slugify}} {% if site.menu %}{{ site.menu }}{% endif %}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container main_content" role="main">

        <div class="post_text">
          {{content}}
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

  </body>

</html>
