---

---
<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <!--layouts/post-->
  <body class="{{page.category | slugify}} post {{page.title | slugify}} {% if site.menu %}{{site.menu}}{% endif %}">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group {{ page.category }}">

      {% include post_image_group.html %}

      <div class="container small" role="main">

        {% include post_header.html %}

        {{ content }}

        {% include social_sharing.html %}

      </div>

    </div>

    {% include footer.html %}

    {% include script_ResponsiveBackgroundImage.html %}

    {% include script_medium_zoom.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy_action.html %}

  </body>

</html>
