---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - article
  addAllPagesToCollections: true
renderData:
  title: Tagged “{{ tag }}”
permalink: /{{ tag }}/
---
<div class="bungkus group post_index_tag">

  <div class="container" role="main">

    <div class="tagpage tagpage__title">

      <span class="tagpage__ico">
        <svg class="tag">
          <use xlink:href="#icn--tag"></use>
        </svg>
      </span>

      <h1 class="page__title center">{{ tag | capitalize }}</h1>

    </div>

    <div class="post_grid all_featured_articles">

      {% set postlist = collections[ tag ] %}

      {% for article in postlist | reverse %}

        {% include "partials/post_card.njk" %}

      {% endfor %}

    </div>

  </div>

</div>

{% include "partials/tag_cloud.njk" %}
