---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - article
  addAllPagesToCollections: true
renderData:
  title: Tagged “{{ tag }}”
permalink: /{{ tag }}/
---
<div class="bungkus group post_index_tag">

  <div class="container" role="main">

    <div class="wrapper tags_njk">

    <div class="tagpage tagpage__title">

      <span class="tagpage__ico roh">
        <svg class="tag">
          <use xlink:href="#icn--tag"></use>
        </svg>
      </span>

      <h1 class="page__title">{{ tag | capitalize }}</h1>

    </div>

    <div class="tagpage post_cards">
      {% set postlist = collections[ tag ] %}

      {% for post in postlist | reverse %}

        {% include "partials/index_post_block--excerpt.njk" %}

      {% endfor %}

      {% include "partials/tag_cloud.njk" %}
    </div>

  </div>

  </div>

</div>
