.post_metas {
  line-height: 1.5;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media("screen", ">minWidth") {
    flex-direction: row;
  }
}

.post_meta_block {
  display: flex;
  flex-direction: row;
  padding-bottom: $space/2;
  padding-right: $space/2;

  a {
    color: $grey;
    margin-left: .3rem;
    margin-right: .3rem;
    min-height: 48px;
    display: inline-block;

    &:hover {
      color: $black;
    }
  }
}

.post_meta_block--last {
  padding-right: 0;
}

.post_meta_icon {
  //margin-top: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
