.share_box {
  margin-top: $space;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .share {
    padding-right: $space--small;
    width: 100%;
    text-align: center;
    padding-bottom: $space--small;
    @include media("screen", ">minWidth") {
      width: auto;
      padding-top: .5rem;
    }
  }

  a[target="_blank"]:after {
    display: none;
  }
}
