//BEM__BLOCKS

nav[aria-label="Secondary"] {
  @extend %no_select;
  padding: 0;
  background-color: transparent;
  margin-bottom: $space--small;

  label {
    display: none;
  }
  //BEM--MODIFIERS
  &.nav--horizontal {
    padding: 0;
    width: 100%;
    border-top: 0 none;

    .wrapper {
      position: relative;
      z-index: 0;
    }
  }
}


.nav__link {
  display: block;
  width: 5vw;
  height: 5vw;
  min-width: 60px;
  min-height: 60px;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  display: block;

  svg {
    width: 60px;
    height: 60px;
    fill: $grey--light;
  }
  &:hover svg {
    fill: $grey;
  }
}


.nav__posttitle {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  position: absolute;
  font-size: 130%;
  @include media( "screen", ">maxWidth") {
    position: fixed;
    top: 50%;
  }
}

.nav__posttitle--left {
  left: 5rem;
  top: -2.5rem;
  opacity: 0;
}

.nav__posttitle--right {
  right: 5rem;
  top: -2.5rem;
  opacity: 0;
}


//BEM MODIFIERS
.nav__link--left {
  left: 1rem;

  &:hover + .nav__posttitle--left {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
}

.nav__link--right {
  right: 1rem;

  &:hover + .nav__posttitle--right {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
}
