.menu {
  padding: 0;
  display: block;

  .menu_item {
    //a
    cursor: pointer;
    min-height: 42px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin: 0;

    &:focus,
    &:hover {}

    span {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
