.logo_block {
  //a
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
  // no underline here
  border-bottom: 0 none;

  &:hover {
    border-bottom: 0 none;
  }
  @include media("screen", ">minWidth") {
    padding-bottom: 0;
  }
}

.logo {
  //svg
  width: 80vw;
  margin-left: -10px;
  @include media("screen", ">minWidth") {
    margin-left: 0;
  }
  @include media("screen", ">maxWidth") {
    width: 540px;
  }
}
