.footer {
  //box-shadow: $top_shadow;
  display: block;
  padding: $space 0 0 0;
  width: 100%;
  background-color: $brand_color_bg;
  color: $light_text_color;

  .container {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
  }

  .title {
    padding-top: $space;
    padding-bottom: $space/6;
    margin-bottom: $space/6;
    border-bottom: 1px solid $light_text_color;
    width: 100%;
    @include media("screen", ">bp1Width") {
      border-bottom: 0 none;
      width: auto;
    }
  }

  .logo_block {
    margin-top: $space--small;
    margin-bottom: $space--small;
  }

}

.menu_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media("screen", ">bp1Width") {
    flex-direction: row;
    max-width: 700px;
  }

  .menu_item {
    min-height: 42px;
    display: flex;

    &.active {
      border-bottom: 0 none;

      span {
        padding: 5px;
        border: $light_text_color solid 1px;
      }
    }
  }

  .email a span,
  .other_website a span {
    text-transform: none;
  }
}

.menu_contacts,
.menu_posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media("screen", ">bp1Width") {
    max-width: 47%;
  }
}

.menu_contacts {
  > div {
    min-height: 22px;
    margin-bottom: $space/4;
  }
  .name {
    color: black;
  }
}


.footer_company_name {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: $space;
  margin-bottom: $space;
  text-align: center;
  @include media("screen", ">minWidth") {
    text-align: left;
  }
}

.copyright {
  font-size: 12px;
  padding-top: $space;
  margin-top: $space;
  background-color: black;
  a {
    display: inline;
  }
}

.footer_container .container {
  @include media("screen", ">bp1Width") {
    flex-direction: row;
  }

  margin: 0 auto;
  justify-content: center;
  > * {
    padding: $space--small;
  }
}

.menu.menu_footer .menu_item {
  text-transform: none;
}
