<!--includes/partials/post_loop_tag-->
<div class="post_page_title post_loop_tag">

  <h1 class="minimal_padding">
    <svg class="tag">
      <use xlink:href="#icn--tag"></use>
    </svg>
    {{ page.tag }}
  </h1>

  {% if page.description %}
    <h2 class="minimal_padding">{{page.description}}</h2>
  {% endif %}

</div>

<div class="post_grid">

{% for post in page.posts %}

    {% unless post.published=='notyet' %}

      {% include post_card.html %}

    {% endunless %}

{% endfor %}

</div>
