{% include partials/ascii_art_junglestar_banner.html %}
<head>
  <meta name="version" content="{{ site.version }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} | {% if page.data.title == 'Magic Green Revolution' %}{{ site.title | upcase }}{% else %}{{ page.data.title }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}{% else %}{{ site.keywords }}{% endif %}">

  <style>
    {% include css/main.css %}
  </style>

  {% if site.google.verification %}
  <meta name="google-site-verification" content="{{ site.google.verification }}" />
  {% endif %}

  {% include partials/favicons.html %}



</head>
