<div class="header group">

  <div class="container">

    <div class="header_block">

      <a class="logo_block group" href="/" title="home">

        <svg class="logo">
          <use xlink:href="#icn--logo"></use>
        </svg>

        <h1>{{ site.title }}</h1>

      </a>

      <div class="menu_toggle_buttom" id="menu_toggle_buttom">

        <svg class="open">
          <use xlink:href="#icn--burger"></use>
        </svg>

        <svg class="close">
          <use xlink:href="#icn--x"></use>
        </svg>

      </div>

    </div>

    <nav class="menu menu_header" role="menu" id="menu">

      {% for item in navigation.main %}

        <a class="menu_item {% if page.url == item.url %}active{% endif %}" role="menuitem" title="{{ item.label }}" href="{{ item.url | safe }}">
          <span class="nowrap">{{ item.label }}</span>
        </a>

      {% endfor %}

      {% comment %}
      this | size not working
      <div class="menu_footer_item">
        There are currently {{ site.posts | size }} articles
      </div>
      {% endcomment %}

    </nav>

    {% include scripts/script_menu_toggle.html %}

  </div>

</div>
