{% include partials/ascii_art_junglestar_banner.html %}

<head>

  <meta name="version" content="{{ site.version }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title == 'Magic Green Revolution' %}Magic Green Revolution{% else %}{{ site.title }} | {{ title }}{% endif %}</title>

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

  <meta name="keywords" content="{% if tags %}{{ tags | join: ', ' }}{% else %}{{ site.keywords }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  <style>
    {% include css/main.css %}
  </style>

  {% if site.company.google.verification %}
  <meta name="google-site-verification" content="{{ site.company.google.verification }}" />
  {% endif %}

  {% include partials/favicons.html %}

</head>
