{# use in tag pages #}
<div class="post_card post_card--big index_post_block--excerpt_njk_template">

  <a class="post-link" href="{{ post.url | url }}">

    <h2>{{ post.data.title }}</h2>

    <div class="thumb">

      {% if post.data.cover_image %}
      <img loading="lazy" src="{{ post.data.cover_image }}" alt="{{ post.data.title }}">
      {% else %}
      <img loading="lazy" class="no_cover_image" src="/assets/p/og.jpg" alt="{{ post.data.category }}">
      {% endif %}

    </div>


    <div class="reading_time">
      <em>Read in {{ post | readingTime }}</em>
    </div>

    {% if post.data.description %}
    <div class="excerpt">
      {{ post.data.description | truncate(188) }} <small>>>></small>
    </div>
    {% endif %}

  </a>

</div>
