<a class="card {{ post.data.category }} {% if post.data.sticky %}sticky_post{% endif %}" title="{{ post.data.title }}" href="{{ post.url | url }}">

  <li>{{ post.data.title }}</li>

  <div class="card_post_image clipped">

  </div>

  <div class="card_post_text">
    <h1 class="{% if post.data.ad %}ad_symbol{% endif %}">{{post.data.title}}</h1>
    <h3 class="border_top border_bottom">{{post.data.subtitle}}</h3>
    <div class="card_post_text_content">
      {{ post.templateContent | strip_html | truncate: 200 }}
    </div>

    <div class="button_row">
      <span class="button">Learn more</span>
    </div>

  </div>

</a>
