{% if page.data.title != 'About us' %}
<h5 class="post_metas">

  <div class="post_meta_block">
    <div class="post_meta_icon">
      {% include partials/svg/use.html id: "icn--tag" class: "tag" %}
    </div>

    <div class="post_meta_text">
      {% for tag in tags %}
        {% unless tag == "article" %}
        <a class="sober_link nowrap" href="/{{ tag }}/">{{ tag }}</a>
        {% endunless %}
      {% endfor %}
    </div>
  </div>

  {% if photography %}
  <div class="post_meta_block">
    <div class="post_meta_icon">
      {% include partials/svg/use.html id: "icn--photographer" class: "photographer" %}
    </div>

    <div class="post_meta_text nowrap" title="photography by {{ page.photography }}">
      {{ photography }}
    </div>
  </div>
  {% endif %}

  <div class="post_meta_block post_meta_block--last">
    <div class="post_meta_icon">
      {% include partials/svg/use.html id: "icn--clock" class: "clock" %}
    </div>

    <div class="post_meta_text nowrap">
      {{ page.date | date: "%d %b %Y" }}
    </div>
  </div>

</h5>
{% endif %}
