{# use in tag pages #}
<a class="card" title="{{ article.data.title }}" href="{{ article.url | url }}">

  <div class="card_post_image clipped">

    {% if article.data.cover_image %}
    <figure class="clipped">


      {% set f %} {{ article.data.cover_image | replace(".jpg", "") }}{% endset%}
      <img loading="lazy" src="{{ f }}-640.jpg"
       srcset="{{ f }}-640.jpg 640w,
               {{ f }}-880.jpg 880w,
               {{ f }}-1024.jpg 1024w,
               {{ f }}-1920.jpg 1920w"
       sizes="(max-width: 640px) 100vw, (max-width: 880px) 50vw, (min-width: 881px) 33vw"
       alt="{{ article.data.title }}">

      {% else %}
      <img loading="lazy" class="no_cover_image" src="/assets/p/og.jpg" alt="{{ article.data.title }}">
    </figure>
    {% endif %}

  </div>

  <div class="card_post_text">

    <h1 class="{% if article.data.ad %}ad_symbol{% endif %}">{{ article.data.title }}</h1>

    <h2 class="h3 border_top border_bottom">{{ article.data.subtitle }}</h2>

    <div class="reading_time">
      <em>Read in {{ article | readingTime }}</em>
    </div>

    <div class="card_post_text_content">
      {{ article.templateContent | striptags | truncate(188) | replace('TLDR', '') | replace('&#128279;', '') }}
    </div>

    <div class="button_row">
      <span class="button">Learn more</span>
    </div>

  </div>

</a>
