<!--partials/post_grid-->
<div class="post_grid">

{% for article in collection.articles %}

  {% if article.published %}

    <a class="card {{ article.category }}" title="{{ article.title }}" href="/{{ article.category }}/{{ article.title | slug }}/">

      <div class="card_post_image">
        <figure class="">
          <img  class="post_thumb" src="/assets/p/posts/{{ article.category }}/{{ article.title | slug }}.jpg" alt="{{ article.title }}" title="{{ article.title }}">
          <figcaption class="figcaption {{ article.tag[1] | slug }}
          </figcaption>
        </figure>
        <div class="category {{ article.category | slug }}">
          {{ article.category }}
        </div>
      </div>

      <div class="card_post_text">
        <h2 class="h2">{{ article.name }}</h2>
        <h3 class="h4">{{ article.subtitle }}</h3>
      </div>

    </a>

  {% endif %}

{% endfor %}

</div>
