{% if title != 'About us' %}
<div class="h5 post_metas">

  <div class="post_meta_block">
    <div class="post_meta_icon">
      <svg class="tag">
        <use xlink:href="#icn--tag"></use>
      </svg>
    </div>

    <div class="post_meta_text">
      {% for tag in tags %}
        {% unless tag == "article" %}
        <a class="sober_link nowrap" href="/{{ tag }}/">{{ tag }}</a>
        {% endunless %}
      {% endfor %}
    </div>
  </div>

  {% if photography %}
  <div class="post_meta_block">
    <div class="post_meta_icon">
      <svg class="photographer">
        <use xlink:href="#icn--photographer"></use>
      </svg>
    </div>

    <div class="post_meta_text nowrap" title="photography by {{ photography }}">
      {{ photography }}
    </div>
  </div>
  {% endif %}

  <div class="post_meta_block {% if updated %}{% else %}post_meta_block--last{% endif %}">
    <div class="post_meta_icon">
      <svg class="clock">
        <use xlink:href="#icn--clock"></use>
      </svg>
    </div>

    <div class="post_meta_text nowrap">
      {{ page.date | date: "%d %b %Y" }}
    </div>
  </div>


  {% if updated %}
  <div class="post_meta_block post_meta_block--last">
    <div class="post_meta_icon">
      <svg class="clock">
        <use xlink:href="#icn--clock"></use>
      </svg>
    </div>

    <div class="post_meta_text nowrap">
      updated on {{ updated | date: "%d %b %Y" }}
    </div>
  </div>
  {% endif %}


</div>
{% endif %}
