<!--partials/post_loop_resources-->

<div id="brands" class="responsive_table_block">

  <div class="functionalities_block">

    <label for="search" class="center">Search:</label>

    <input id="search" class="search input center" placeholder="example: organic" />

    <button class="sort button" data-sort="products">
      Sort by Products
    </button>

    <button class="sort button" data-sort="brand">
      Sort by Brand
    </button>
  </div>


  <table class="green_pages_table responsive_table">

    <thead>
      <tr class="green_pages_table_header_row">
        <td class="brand table_header_brand">Brand</td>
        <td class="products table_header_product">Products</td>
        <td class="address hide">Address</td>
        <td class="country hide">Country</td>
        <td class="email" title="email">
          <svg class="email" alt="email">
            <use xlink:href="#icn--email"></use>
          </svg>
        </td>
        <td class="localphone">
          <svg class="localphone" alt="local phone">
            <use xlink:href="#icn--localphone"></use>
          </svg>
        </td>
        <td class="whatsapp">
          <svg class="whatsapp" alt="whatsapp">
            <use xlink:href="#icn--whatsapp"></use>
          </svg>
        </td>
        <td class="location">
          <svg class="location" alt="location">
            <use xlink:href="#icn--location"></use>
          </svg>
        </td>
        <td class="twitter">
          <svg class="twitter" alt="twitter">
            <use xlink:href="#icn--twitter"></use>
          </svg>
        </td>
        <td class="youtube">
          <svg class="youtube" alt="youtube">
            <use xlink:href="#icn--youtube"></use>
          </svg>
        </td>
        <td class="instagram">
          <svg class="instagram" class="instagram">
            <use xlink:href="#icn--instagram"></use>
          </svg>
        </td>
        <td class="website">
          <svg class="link" alt="website link">
            <use xlink:href="#icn--link"></use>
          </svg>
        </td>
      </tr>
    </thead>

    <tbody class="list">
      {% for company in resources.companies %}
        <tr class="green_pages_table_row" id="{{ company.brand | replace: "", "-"  }}"  itemscope itemtype="http://schema.org/Organization">

          <td class="brand" data-th="Brand" itemprop="brand">{{ company.brand }}</td>

          <td class="products" data-th="Products" itemscope itemtype="http://schema.org/Product">{{ company.products }}</td>

          <td class="show_on_phones address" data-th="Address" itemscope itemtype="http://schema.org/PostalAddress">{% if company.address %}{{ company.address }}{% endif %}</td>

          <td class="show_on_phones country" data-th="Country" itemprop="addressLocality">
            {% if company.country %}{{ company.country }}{% endif %}
          </td>

          <td class="ico email" itemprop="email">
            <a class="sober_link "title="email" href="mailto:{{ company.email }}">
              {% if company.email %}
                <svg class="email">
                  <use xlink:href="#icn--email"></use>
                </svg>
              {% endif %}
            </a>
          </td>

          <td class="ico telephone" itemprop="telephone">
            {% if company.telephone %}
            <a class="sober_link "title="tel:+{{ company.telephone }}" href="tel:+{{ company.telephone }}">
              <svg class="localphone">
                <use xlink:href="#icn--localphone"></use>
              </svg>
            </a>
            {% endif %}
          </td>

          <td class="ico whatsapp" itemprop="whatsapp">
            {% if company.whatsapp %}
            <a class="sober_link "title="whatsapp" href="{{ company.whatsapp }}">
              <svg class="whatsapp">
                <use xlink:href="#icn--whatsapp"></use>
              </svg>
            </a>
            {% endif %}
          </td>

          <td class="ico location" itemprop="location">
            {% if company.location %}
            <a class="sober_link "title="location" href="{{ company.location }}">
              <svg class="location">
                <use xlink:href="#icn--location"></use>
              </svg>
            </a>
            {% endif %}
          </td>


          <td class="ico twitter" itemprop="twitter">
            {% if company.twitter %}
            <a class="sober_link "title="twitter" href="{{ company.twitter }}">
              <svg class="twitter">
                <use xlink:href="#icn--twitter"></use>
              </svg>
            </a>
            {% endif %}
          </td>

          <td class="ico youtube" itemprop="youtube">
            {% if company.youtube %}
            <a class="sober_link "title="youtube" href="{{ company.youtube }}">
              <svg class="youtube">
                <use xlink:href="#icn--youtube"></use>
              </svg>
            </a>
            {% endif %}
          </td>

          <td class="ico instagram" itemprop="instagram">
            {% if company.instagram %}
            <a class="sober_link "title="instagram" href="{{ company.instagram }}">
              <svg class="instagram">
                <use xlink:href="#icn--instagram"></use>
              </svg>
            </a>
            {% endif %}
          </td>

          <td class="ico website"><a title="website" class="sober_link " href="{{ company.website}}">
            {% if company.website %}
            <svg class="link">
              <use xlink:href="#icn--link"></use>
            </svg>
            {% endif %}</a></td>

        </tr>
      {% endfor %}
    </tbody>

  </table>

</div>


{% include partials/add_your_company.html %}


{% comment %}
the following script must stay here,
when moved to layout/resources.html
somehow sorting works only once,
weird!
{% endcomment %}

{% include scripts/script_list.html %}
<script>
  var options = {
    valueNames: [ 'brand', 'products', 'country', 'address' ]
  };

  var userList = new List('brands', options);
</script>

{% comment %}
DB Fields:
brand
website
products
email
telephone
address
location
country
{% endcomment %}
