<!--partials/post_card-->
<a class="card" title="{{ article.data.title }}" href="{{ article.url | url }}">

  <div class="card_post_image clipped">

    {% if article.data.new %}

      <div class="eleventy_image">

        {% capture img %}http://localhost:8080{{article.data.cover_image}}{% endcapture %}{% image img, "nozoom", "fun", "100vw" %}

      </div>

    {% else %}

      <figure class="clipped">

        {% assign f = article.data.cover_image | split: '.' %}
        <img loading="lazy" src="{{ f[0] | relative_url }}-640.{{ f[1] }}"
         srcset="{{ f[0] | relative_url }}-640.{{ f[1] }} 640w,
                 {{ f[0] | relative_url }}-880.{{ f[1] }} 880w,
                 {{ f[0] | relative_url }}-1024.{{ f[1] }} 1024w,
                 {{ f[0] | relative_url }}-1920.{{ f[1] }} 1920w"
         sizes="(max-width: 640px) 100vw, (max-width: 880px) 50vw, (min-width: 881px) 33vw"
         alt="{{ article.data.title }}">

        {% comment %}
        <!-- {% if post.data.flag %}
        <figcaption class="figcaption {{ post.data.flag | replace: "", "-"  }}">{{ post.flag }}</figcaption>
        {% endif %} -->
        {% endcomment %}

      </figure>

    {% endif %}

  </div>

  <div class="card_post_text">
    <h1 class="{% if article.data.ad %}ad_symbol{% endif %}">{{article.data.title}}</h1>
    <h2 class="h3 border_top border_bottom">{{article.data.subtitle}}</h2>
    <div class="card_post_text_content">
      {{ article.templateContent | strip_html | replace: "TLDR","" | replace: "&#128279;","" | truncate: 200  }}
    </div>

    <div class="button_row">
      <span class="button">Read
        <svg class="read_arrow">
          <use xlink:href="#icn--read_arrow"></use>
        </svg>
      </span>
    </div>

  </div>

</a>
