<div class="share_box">

  <div class="share">Share on: </div>

  <a title="share on Facebook" class="button" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" target="_blank">
    <span>Facebook</span>
  </a>

  <a title="share on Twitter" class="button" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" target="_blank">
    <span>Twitter</span>
  </a>

  <a title="share on Reddit" class="button" href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl}}{{ page.url }}" target="_blank">
    <span>Reddit</span>
  </a>

  <a title="share on Linkedin" class="button" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}" target="_blank">
    <span>Linkedin</span>
  </a>

  <a title="share via email" class="button" href="mailto:?subject={{ page.title }}&amp;body=Check out this interesting article {{ site.url }}{{site.baseurl}}{{ page.url }}">
    <span>Email</span>
  </a>

</div>
