<nav role="navigation" class="nav--tags  tagcloud_block tag_cloud_njk">

  <div class="container">

    <h3 class="tagcloud_title uppercase">
      <svg class="tag">
        <use xlink:href="#icn--tag"></use>
      </svg>
      Browse tags
    </h3>

    <div id="tag-cloud">

      {% for tagKey, tagVal in collections.tagListPosts %}
      {% set tagUrl %}/{{ tagKey }}/{% endset %}

        <a class="looper__link tagcloud_link {{ tagKey }} size-{{ tagVal.length }}" href="{{ tagUrl | url }}" style="font-size: calc({{ tagVal.length * 5 }}% + .75rem) ">{{ tagKey }}</a>

      {% endfor %}

    </div>

  </div>

</nav>
